/* ======== Base Styles (phone) ======== */
body {
    font-family: Helvetica, sans-serif;
}

/* Challenge 2*/
#open1 {
    font-size: 30px;
}


.grid-container {
    display: grid;
    grid-template-areas:
        
        'menu1 . menu2 . menu3 . menu4'
        'logo logo logo logo logo logo logo'
        '. open1 open1 open1 open2 . .'
        '. open1 open1 open1 open2 beste .'
        'foto foto foto foto foto foto foto'
        '. tekst tekst tekst tekst teskt .'
        '. social social social social social .'
    '. footer footer footer footer footer .';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto ;
}

.logo {
    grid-area: logo;
    width: inherit;
}

.icon {
    width: 12%;
    margin: 3%;
}
a {
    text-decoration: none;
}
#menu:hover {
    background: lightgrey;
    
}
#menu {
    padding-top: 15px;
    text-align: center;
    background-color: white;
}
.menu1 {
    grid-area: menu1;
    
}
.menu2 {
    grid-area: menu2;
}
.menu3 {
    grid-area: menu3;
}
.menu4 {
    grid-area: menu4;
}
.foto {
    grid-area: foto;
    width: inherit;
}

.tekst {
    grid-area: tekst;
}

p {
    margin-top: 0px;
}

.social {
    grid-area: social;
}

.open1 {
    grid-area: open1;
    text-align: center;
}
.open2 {
    grid-area: open2;
    text-align: center;
}

.footer {
    grid-area: footer;
    text-align: center;
}

.beste {
    grid-area: beste;
    width: 100%;
}

.item {
    width: 100%;
    border:  green; 
}

/*tablet*/

@media only screen and (min-width: 1500px) {
    .item {
        border: solid yellow;
    }
.grid-container {
    display: grid;
    grid-template-areas:
        'logo logo logo logo'
        'menu1 menu2 menu3 menu4'
        'foto foto foto foto'
        'tekst tekst open open'
        'tekst tekst open open'
        'beste social social social'
    'footer footer footer footer';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 50px auto 300px auto auto auto ;
}
}

/*laptop*/

@media only screen and (min-width : 1800px) {
    .item {
        border: solid orange;
    }
.grid-container {
    display: grid;
    grid-template-areas:
        'menu1 menu2 menu3 menu4'
        'logo logo logo logo'
        'foto foto foto foto'
        'tekst tekst open open'
        'tekst tekst open open'
        'beste social social social'
    'footer footer footer footer';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto 300px auto auto auto ;
}
}

/*desktop*/

@media only screen and (min-width : 2000px) {

    .item {
        border:  solid red;
    }
.grid-container {
    display: grid;
    grid-template-areas:
        '. menu1 . menu2 . menu3 . menu4 .'
        '. logo logo logo logo logo logo logo .'
        '. foto foto foto foto foto open open .'
        '. tekst tekst tekst tekst tekst open open .'
        '. social social social social beste beste beste .'
    '. footer footer footer footer footer footer footer .';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
    .logo{
        
    }
    .open{
        text-align: right;
    }
}
