/* ======== Base Styles (phone) ======== */
body {
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    font-family: 'Ubuntu', sans-serif;
}

/* Challenge 2*/
#open1  {
    font-size: 100%;
}

#open2 {
    font-size: 100%;
}
.grid-container {
    display: grid;
    grid-template-areas:
        
        'menu1 menu1 menu2 menu2 menu3 menu3 menu4 menu4'
        'logo logo logo logo logo logo logo logo'
        'open2 open2 open2 open2 open1 open1 open1 open1'
        'open2 open2 open2 open2 open1 open1 open1 open1'
        'foto foto foto foto foto foto foto foto'
        '. tekst tekst tekst tekst tekst tekst .'
        '. social social social social social social .'
    'footer footer footer footer footer beste beste beste';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto ;
}

.logo {
    grid-area: logo;
    width: inherit;
}

.icon {
    width: 12%;
    margin: 3%;
}
a {
    text-decoration: none;
    font-size: 100%;
}
#menu:hover {
    background: lightgrey;
    
}
#menu {
    height: 100%;
    text-align: center;
    background-color: white;
    position: relative;
    border: green solid;
}
.menu1 {
    grid-area: menu1;
}
.menu2 {
    grid-area: menu2;
}
.menu3 {
    grid-area: menu3;
}
.menu4 {
    grid-area: menu4;
}
.foto {
    grid-area: foto;
    width: inherit;
}

.tekst {
    grid-area: tekst;
}

p {
    font-size: 100%;
}

.social {
    grid-area: social;
}

.open1 {
    grid-area: open1;
    text-align: center;
}
.open2 {
    grid-area: open2;
    text-align: center;
}

.footer {
    grid-area: footer;
    text-align: center;
    font-size: 50%;
}

.beste {
    grid-area: beste;
    width: 100%;
}

.item {
    width: 100%;
    border:  green; 
}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

@media (min-width:600px)   {
    
    .grid-container {
    display: grid;
    grid-template-areas:
        'logo logo logo logo logo logo logo logo'
        'menu1 menu1 menu2 menu2 menu3 menu3 menu4 menu4'
        'open2 open2 open2 open2 open1 open1 open1 open1'
        'open2 open2 open2 open2 open1 open1 open1 open1'
        'foto foto foto foto foto foto foto foto'
        '. tekst tekst tekst tekst tekst tekst .'
        '. social social social social social social .'
    'footer footer footer footer footer beste beste beste';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto ;
}
    #menu {
    padding-top: 10%;
    height: 130%;
    text-align: center;
    background-color: white;
    position: relative;
    border: yellow solid;
    font-size: 150%;
}
    #open1, #open2{
        font-size: 150%;
        padding-top: 5%;
    }
    .footer {
        font-size: 100%;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px)  { 

}
/*laptop*/

@media only screen and (min-width : 1000px) {
    #menu {
    padding-top: 10%;
    height: 120%;
    text-align: center;
    background-color: white;
    position: relative;
    border: orange solid;
    font-size: 150%;
}
    .grid-container {
    display: grid;
    grid-template-areas:
        'logo logo logo logo logo logo logo logo'
        'menu1 menu1 menu2 menu2 menu3 menu3 menu4 menu4'
        'foto foto foto foto foto foto open2 open2'
        'foto foto foto foto foto foto open1 open1'
        '. tekst tekst tekst tekst tekst tekst .'
        '. social social social social social social .'
    'footer footer footer footer footer beste beste beste';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto ;
}
    #open1, #open2{
        font-size: 150%;
        padding-top: 25%;
        margin: 5%;
    }
    .footer {
        font-size: 120%;
    }
}

@media (min-width:1281px) /* hi-res laptops and desktops */ {

    #menu {
    padding-top: 10%;
    height: 120%;
    text-align: center;
    background-color: white;
    position: relative;
    border: red solid;
    font-size: 150%;
}
    .grid-container {
    display: grid;
    grid-template-areas:
        'logo logo logo logo logo logo logo logo'
        'menu1 menu1 menu2 menu2 menu3 menu3 menu4 menu4'
        'foto foto foto foto foto foto open2 open2'
        'foto foto foto foto foto foto open1 open1'
        '. tekst tekst tekst tekst tekst tekst .'
        '. social social social social social social .'
    'footer footer footer footer footer beste beste beste';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto ;
}
    .tekst {
        font-size: 150%;
    }
    #open1, #open2{
        font-size: 150%;
        padding-top: 25%;
        margin: 5%;
    }
    .footer {
        font-size: 120%;
    }
}

}
